version: "3.8"
services:
  mongo-db:
    image: "mongo:latest"
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: notificationDB # mongo can create a database without mentioning it here when our app interacts with it
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
  redis:
    image: "redis:latest"
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
volumes:
  mongo_data:
  redis_data: