version: "3.9"
services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: subscription_db
    ports:
      - "5439:5432"
    volumes:
      - subscription_db:/var/lib/postgresql/data
volumes:
  subscription_db: