version: "3.9"
services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: trip
    ports:
      - "5437:5432"
    volumes:
      - authentication_db:/var/lib/postgresql/data
volumes:
  authentication_db: