version: "3.9"
services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: trip
    ports:
      - "5438:5432"
    volumes:
      - trip2_db:/var/lib/postgresql/data
volumes:
  trip2_db: