server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:

      routes:
        # Auth service
        - id: authentication
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/auth/**

        # Bus service
        - id: buses
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/bus/**

        # Read routes
        - id: read-routes
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/routes,/api/v1/routes/{routeId}

        # Manage routes (secured)
        - id: manage-routes
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/routes,/api/v1/routes/{routeId}
            - Method=POST,PUT
          filters:
            - name: JwtAuthFilter
              args:
                roles: MANAGER

        # Add bus to route (secured)
        - id: add-bus-to-route
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/routes/{routeId}/add-bus
            - Method=POST
          filters:
            - name: JwtAuthFilter
              args:
                roles: MANAGER

        # Read stops
        - id: read-stops
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/stops,/api/v1/stops/{stopId}

        # Add stop (secured)
        - id: add-stop
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/stops
            - Method=POST
          filters:
            - name: JwtAuthFilter
              args:
                roles: MANAGER

        # Update stop (secured)
        - id: update-stop
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/stops/{stopId}
            - Method=PUT
          filters:
            - name: JwtAuthFilter
              args:
                roles: MANAGER

        # Read route stops
        - id: read-route-stops
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/route-stops/{routeStopId}

        # Update route stop (secured)
        - id: update-route-stop
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/route-stops/{stopId}
            - Method=PUT
          filters:
            - name: JwtAuthFilter
              args:
                roles: MANAGER

        # Ticket service
        - id: ticket
          uri: http://localhost:8083
          predicates:
            - Path=/api/v1/tickets/**

        # User subscriptions (secured, passenger)
        - id: user-subscriptions
          uri: http://localhost:8084
          predicates:
            - Path=/api/v1/user-subscription/**


        # Managing subscriptions (secured, manager)
        - id: managing-subscriptions
          uri: http://localhost:8084
          predicates:
            - Path=/api/v1/subscriptions/**


logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG